html[data-theme='one'] {
  // màu chuyển đổi
  --primary: 164, 215, 255;
  --primary-light: 197, 233, 255;
  --primary-dark: 0, 116, 183;

  --color-primary: rgba(var(--primary), 1);
  --color-primary-light: rgba(var(--primary-light), 0.6);
  --color-primary-dark: rgba(var(--primary-dark), 0.7);

  --color-white: #ffffff;
  --color-black: #000;

  // màu cố định
  --color-grey-light: rgb(228, 228, 228);
  --color-grey-light-3: rgba(228, 228, 228, 0.3);
  --color-grey-light-8: rgba(228, 228, 228, 0.8);

  --color-grey-dark: #777;
  --color-grey-dark-1: #918e8e;

  --banner: url(../../image/bg-spring.png);

  // variable
  // input
  --color-border-input: var(--color-grey-light-3);
  --bg-input: rgb(247, 247, 247);
  // boxshadow
  --box-shadow-dark: 0 1px 5px rgba(129, 129, 129, 0.2);
  --box-shadow-white: 0px 1px 1rem rgba(255, 255, 255, 1);
  // text
  --color-text-black: #515151;
  --color-text-grey-dark: var(--color-grey-dark-1);

  --bg-white: var(--color-white);
  --bg-overlay: rgba(0, 0, 0, 0.1);
  // --bg-product: #f9f9f9;
  --bg-product: rgba(var(--primary), 0.1);
}

html[data-theme='two'] {
  --color-primary: #55c57a;
  --color-primary-light: #7ed56f;
  --color-primary-dark: #28b485;

  --color-secondary-light: #ffb900;
  --color-secondary-dark: #ff7730;

  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;

  --color-grey-dark: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;

  --color-white: #fff;
  --color-black: #000;
  --banner: url(../../image/bg-spring.png);
}

@mixin theme($i) {
  @if ($i == 1) {
    --color-primary: #55c57a;
    --color-primary-light: #7ed56f;
    --color-primary-dark: #28b485;

    --color-secondary-light: #ffb900;
    --color-secondary-dark: #ff7730;

    --color-grey-light-1: #f7f7f7;
    --color-grey-light-2: #eee;

    --color-grey-dark: #777;
    --color-grey-dark-2: #999;
    --color-grey-dark-3: #333;

    --color-white: #fff;
    --color-black: #000;
  } @else if($i == 2) {
    --color-primary: #55c57a;
    --color-primary-light: #7ed56f;
    --color-primary-dark: #28b485;

    --color-secondary-light: #ffb900;
    --color-secondary-dark: #ff7730;

    --color-grey-light-1: #f7f7f7;
    --color-grey-light-2: #eee;

    --color-grey-dark: #777;
    --color-grey-dark-2: #999;
    --color-grey-dark-3: #333;

    --color-white: #fff;
    --color-black: #000;
  }
}
@for $i from 1 through 6 {
  .theme-#{$i} {
    @include theme($i);
  }
}
