.card {
  .wrapper-card {
    background-color: var(--bg-product);
    margin: 1rem;
    padding: 3.5rem;
    text-align: center;
    .top-card {
      display: flex;
      justify-content: center;
      height: 20rem;
      width: 100%;
      margin-bottom: 1rem;
      img {
        margin: 0 auto;
        width: 100%;
        cursor: pointer;
        object-fit: contain;
      }
    }
    .bottom-card {
      h4 {
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 1rem;
        height: 50px;
        cursor: pointer;
      }
      .star {
        font-size: 2.5rem;
        color: orange;
      }
      .price {
        font-weight: 600;
        margin-bottom: 1rem;
        .sale {
          .price-old {
            font-size: 1.1rem;
            text-decoration: line-through;
            padding: 5px;
          }
        }
        .price-current {
          font-size: 1.6rem;
          padding: 5px;
        }
      }
      .impressive {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        .impressive-item {
          padding: 2px 5px;
          margin: 5px;
          background-color: var(--color-grey-light);
        }
      }
      .btn {
        font-size: 1.4rem;
        background-color: var(--color-primary-dark);
        color: white;
        padding: 0.7rem 1.5rem;
        font-weight: 700;
        transition: all 0.4s;
        border: 1px solid var(--color-primary-dark);
        &:hover {
          color: var(--color-primary-dark);
          border: 1px solid var(--color-primary-dark);
          background-color: var(--color-white);
        }
      }
    }
  }
}
