#certificate {
  position: relative;
  background-color: rgba(var(--primary), 0.15);
  padding: 1rem;
  .certificate-wrapper {
    h3 {
      font-size: 3rem;
      color: var(--color-primary-dark);
      text-align: center;
      width: 50%;
      margin: 0 auto 2rem;
      font-style: italic;
    }
    p {
      font-size: 1.4rem;
      font-weight: 700;
      margin-bottom: 2rem;
      text-transform: uppercase;
    }
    .button-wrapper {
      margin: 1rem 0 3rem 0;
    }
  }
}
