#introduce {
  h3 {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 3rem;
  }
  .introduce-top {
    width: 100%;
    height: 100%;
    position: relative;

    .bg-left {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #fff5f4;
      width: 35%;
      height: 100%;
      z-index: 0;
    }
    .bg-right {
      background-color: #e4f7f5;
      position: absolute;
      top: 0;
      right: 0;
      width: 65%;
      height: 100%;
      z-index: 0;
    }

    .introduce-wrapper {
      display: grid;
      padding: 5rem 0;
      grid-column-gap: 5rem;
      padding: 10rem 0;
      grid-auto-rows: 12rem;
      grid-auto-flow: dense;

      .introduce-item {
        z-index: 1;
        padding: 10px;
        h3 {
          margin: 0.8rem 0;
        }
        p {
          font-size: 1.5rem;
          line-height: 2.2rem;
          margin: 0.5rem 0;
        }
      }

      .us-img {
        grid-column: 1 / span 3;
        grid-row: 1 / span 4;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        // padding: 0 5rem;
        border-radius: 10px;
        position: relative;

        z-index: 1;
        span {
          @include position(95%, 5%);
          font-size: 1.6rem;
          color: rgb(246, 246, 246);
          font-weight: 700;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          background-color: #8adbd6;
          border: 1px solid white;
        }
      }
      .content-our {
        width: 100%;
        grid-column: 4 / span 2;
        grid-row: 1 / span 2;

        position: relative;
        .content-wrapper-our {
          width: 100%;
        }
      }
      .content-product {
        grid-column: 1 / span 3;
        grid-row: 5 / span 2;
      }

      .product-img {
        width: 100%;
        height: 100%;
        grid-column: 4 / span 2;
        grid-row: 4 / span 3;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          position: absolute;
          @include absCenter();
          object-fit: contain;
        }
      }
      .content-wrapper-product,
      .content-wrapper-our {
        width: 100%;
        a {
          text-decoration: none;
          span {
            text-transform: uppercase;
            font-size: 1.4rem;
            color: var(--color-primary-dark);
            font-weight: 600;
          }
        }
      }
    }
  }
  .introduce-bottom {
    .introduce-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      grid-auto-rows: 5rem;
      grid-auto-flow: dense;
      padding: 5rem 0rem;
      grid-column-gap: 4rem;
      width: 80%;
      margin: 0 auto;
      .content-spa {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        display: flex;
        justify-content: space-between;

        h3 {
          width: 70%;
        }
        a {
          font-size: 1.9rem;
          align-self: flex-start;
        }
      }
      .img-spa {
        grid-column: 1 / span 2;
        grid-row: 3 / span 7;
        width: 100%;
        height: 100%;
        position: relative;

        img {
          height: 100%;
          width: 100%;

          // object-fit: contain;
          // object-position: center;
          @include absCenter();
        }
      }

      .content-space-1 {
        grid-column: 1 / span 2;
        grid-row: 10 / span 1;
      }
      //

      .user-img-top {
        grid-column: 3 / span 1;
        grid-row: 1 / span 4;
        width: 100%;
        height: 100%;
        position: relative;
        background-color: #b4e0df;
        border-radius: 10px;
        img {
          @include absCenter();
          height: 100%;
        }
      }
      .content-user {
        grid-column: 3 / span 1;
        grid-row: 5 / span 1;
      }
      .user-img-bottom {
        grid-column: 3 / span 1;
        grid-row: 6 / span 5;
        width: 100%;
        height: 100%;
        position: relative;
        background-color: #aa6730;
        border-radius: 10px;
        img {
          @include absCenter();
          height: 100%;
        }
      }
    }
  }
}
