@import './ListCart/ListCart';
@import './Bill/Bill';
#cart {
  .cs-modal-cart {
    display: flex;
    justify-content: center;
    height: 80vh;
    background-color: white;
    padding: 1rem;
    flex-wrap: wrap;
  }
}
