#admin-page {
  min-height: calc(100vh - 62px);
  display: flex;
  .navigation-admin {
    margin-right: 200px;
    display: flex;
    height: calc(100vh - $height-header);
    background-color: white;
    position: fixed;
    box-shadow: var(--box-shadow-dark);

    ul {
      padding: 2rem 0;

      li {
        font-size: 1.4rem;
        color: var(--color-grey-dark);
        padding: 1.5rem;
        font-weight: 600;
      }
      .active {
        background-color: var(--color-primary);
        color: white;
        box-shadow: var(--box-shadow-dark);
      }
    }
  }
  .content-admin {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    .loading {
    }
  }
}
