#footer {
  .footer-item {
    text-align: center;
    padding: 3rem 0;

    h2 {
      font-size: 3rem;
      margin-bottom: 2rem;
    }
    .text {
      font-size: 1.4rem;
      margin-bottom: 30px;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        line-height: 0;
        font-size: 3rem;
        padding: 10px;
        border-radius: 50%;
        background-color: var(--bg-white);
        margin: 0 3rem 2rem;
        cursor: pointer;
        transition: all 0.3s;
        border: 2px solid transparent;
        &:hover {
          color: var(--color-primary);
          border: 2px solid var(--color-primary);
        }
      }
      // seapher
      li.contact-follow-item {
        padding: 25px;
        margin: 0 30px 2rem;
        border: 1px solid var(--color-grey-light);
        border-radius: 10px;
        box-shadow: var(--box-shadow-dark);
        background-color: white;

        .contact-top {
          margin-bottom: 20px;
          .contact-avatar {
            height: 120px;
            width: 120px;
            border-radius: 50%;
            margin-bottom: 10px;
          }
          .avatar-1 {
            background-color: #1da1f2;
          }
          .avatar-2 {
            background-color: #f8cb53;
          }
          .avatar-3 {
            background-color: #ffdede;
          }
          .contact-name {
            font-size: 1.6rem;
            font-weight: 600;
          }

          .contact-phone {
            font-size: 1.4rem;
            font-weight: 300;
            color: var(--color-text-grey-dark);
            margin-bottom: 10px;
          }
          .contact-time {
            font-size: 1.2rem;
            font-weight: 300;
          }
          .contact-role {
            line-height: 2rem;
            width: 25rem;
            height: 10rem;
            font-size: 1.4rem;
            font-weight: 400;
            margin-bottom: 5px;
          }
        }
        .contact-middle {
          margin: 10px 30px;
        }
        .contact-bottom {
          display: flex;
          justify-content: center;
          img {
            height: 40px;
            width: 50px;
            border-radius: 50%;
          }
          .contact-zalo,
          .contact-facebook {
            padding: 10px;
          }
        }
      }
    }
  }
  #social {
    background-color: #f5f5f5;
  }
  #contact {
    // background-color: #fafff8;
    padding-bottom: 0;
  }
  #feedback {
    .wrapper-carousel-item {
      .feedback-carousel-item {
        .img {
          box-shadow: var(--box-shadow-dark);
          width: 25rem;
          cursor: pointer;
        }
      }
    }
  }
  #footer-middle {
    color: var(--color-grey-light);
    background-color: var(--color-grey-dark);
    padding: 30px 0;
    .footer-middle-wrapper {
      .company-logo {
        font-size: 1.8rem;
      }
      .footer-middle-wrapper-detail {
        display: grid;
        grid-template-columns: 40% 40% 20%;

        .footer-middle-detail {
          font-size: 1.4rem;
          padding: 10px 0;
          h4 {
            font-size: 1.6rem;
            font-weight: 700;
            margin: 1rem 0;
          }
          ul {
            li {
              padding: 5px 0;
              a {
                color: var(--color-grey-liggreenyellowht);
                &:hover {
                  color: var(--color-grey-light-8);
                }
              }
            }
          }
        }
      }
    }
  }
  #copy-right {
    background-color: #f5f5f5;
    text-align: center;
    font-size: 1.4rem;
    padding: 20px 0 40px 0;
  }
}
