@import './Carousel/Carousel';
@import './Banner/Banner';
@import './Card/Card';
@import './ListCard/ListCard';
@import './Modal/modal';
@import './SaleTime/SaleTime';
@import './Price/Price';
@import './Form/From';
@import './Table/Table';
@import './Loading/Loading';
@import './Address/Address';
.custom {
  margin: 8rem 0;
  overflow: hidden;
  .top-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .icon {
    font-size: 3rem;
    color: var(--color-primary-dark);
  }
  h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 3rem;
    margin-bottom: 5px;
  }
  span {
    font-size: 1.6rem;
    line-height: 1.8rem;
    width: 50%;
    margin: 1rem auto;
  }
  &.left {
    text-align: left;
  }
  &.center {
    text-align: center;
  }
  &.right {
    text-align: right;
  }
}
