@import './NoneProfile/NoneProfile';
@import './Profile/Profile';
#auth {
  // overflow-y: scroll;

  .cs-modal-auth {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    background-color: white;
    padding: 1rem;

    .navigation {
      font-size: 1.4rem;
      padding: 5px;
      font-weight: 700;
      text-align: center;
      &:hover {
        color: var(--color-primary-dark);
      }
    }
  }
  .cs-modal-auth-scroll {
    height: 80vh;
    background-color: white;
    padding: 1rem;
    @media only screen and (min-height: 79vh) {
      overflow-y: scroll;
    }
    &::-webkit-scrollbar-track {
      display: none;
    }

    &::-webkit-scrollbar {
      width: 8px;
      background-color: rgba(224, 224, 224, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      padding-left: 20px;
      border-radius: 10px;
      width: 2px;
      background-color: rgba(224, 224, 224, 0.801);
      height: 100px !important;
    }
    .navigation {
      font-size: 1.4rem;
      padding: 5px;
      font-weight: 700;
      text-align: center;
      &:hover {
        color: var(--color-primary-dark);
      }
    }
  }
}
