@import './NoneProfile/NoneProfile';
@import './Profile/Profile';
#auth {
  .cs-modal-auth {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    background-color: white;
    padding: 1rem;

    .navigation {
      font-size: 1.4rem;
      padding: 5px;
      font-weight: 700;
      text-align: center;
      &:hover {
        color: var(--color-primary-dark);
      }
    }
  }
}
