#founder {
  .founder-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    .founder-left {
      width: 45%;
      // padding-right: 3.8rem;
      height: 100%;
      img {
        object-fit: contain;
        width: 100%;
      }
    }
    .founder-right {
      width: 50%;
      h2 {
        font-size: 4rem;
        text-align: center;
        margin: 2rem 0 1rem;
      }
      p {
        font-size: 1.4rem;
        line-height: 2rem;
        text-align: justify;
        margin-bottom: 0.5rem;
      }
      .ceo {
        margin-top: 1rem;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        color: var(--color-grey-dark);
      }
      .text {
        font-style: italic;
        font-weight: bold;
      }
    }
  }
}
