#sale-time {
  background-color: black;
  padding: 4px 2px;
  text-align: justify;
  border-radius: 3px;
  span {
    font-weight: 700;
    font-size: 1.1rem;
    padding: 1.6px;
    margin: 0 3px;
    background-color: white;
  }
}
