@import './Cart/Cart';
@import './HeaderAccount/HeaderAccount';
@import './Navigation/Navigation';
@import './Notification/Notification';
@import './Search/Search';

#header {
  ul {
    li {
      padding: 10px 2px;
      margin: 0 4px;
      font-size: 1.6rem;
      font-weight: 600;
      border-bottom: 2px solid transparent;
      text-align: center;
      &.icon {
        font-size: 1.6rem;
      }
      &:hover {
        a {
          color: var(--color-grey-dark);
        }
      }
      &.active {
        border-bottom: 2px solid var(--color-primary-dark);
      }
    }
  }
  width: 100%;
  box-shadow: var(--box-shadow-dark);

  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--bg-white);
  .header-wrapper {
    display: grid;
    grid-template-columns: 35% 30% 35%;
    align-content: center;
    width: 100%;
    margin: 0 20px;

    .header-left {
      display: flex;
      align-items: center;
    }
    .header-logo {
      text-align: center;

      img {
        height: 60px;
      }
      p {
        font-size: 1.6rem;
        color: var(--color-primary-dark);
        font-weight: 700;
        padding: 2px 0 10px;
        text-transform: uppercase;
      }
    }
    .header-right {
      display: grid;
      align-items: center;
      text-align: right;
      grid-template-columns: 73% 9% 9% 9%;
      .header-search {
      }
      .header-auth {
      }
      .header-cart {
      }
      ul {
        display: flex;
        li {
          display: flex;
          align-items: center;
          .icon {
            display: flex;
            align-items: center;
            margin: 5px;

            &:hover {
              color: var(--color-grey-dark);
            }
          }
        }
      }
    }
  }
}
