@import './Cart/Cart';
@import './HeaderAccount/HeaderAccount';
@import './Navigation/Navigation';
@import './Notification/Notification';
@import './Search/Search';

#header {
  .header-text {
    padding: 5px;
    font-size: 1.6rem;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    text-align: center;
    &.icon {
      font-size: 1.6rem;
    }
    &:hover {
      border-bottom: 2px solid var(--color-hover-border-bottom);
      *,
      a,
      span,
      div,
      p {
        color: var(--color-grey-dark);
      }
    }
  }
  width: 100%;
  border-bottom: 1px solid var(--color-border-bottom);

  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--bg-white);
  .header-wrapper {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    align-content: center;
    width: 100%;
    margin: 0 20px;

    .header-left {
      display: flex;
      align-items: center;
    }
    .header-logo {
      text-align: center;

      img {
        height: 60px;
      }
    }
    .header-right {
      display: grid;
      align-items: center;
      text-align: right;
      grid-template-columns: 73% 9% 9% 9%;
      .header-search {
      }
      .header-auth {
      }
      .header-cart {
      }
    }
  }
}
