#feed-back {
  .wrapper-carousel-item {
    .feedback-carousel-item {
      .img {
        box-shadow: var(--box-shadow-dark);
        width: 25rem;
        cursor: pointer;
      }
    }
  }

  text-align: center;
  padding: 3rem 0;

  h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .text {
    font-size: 1.4rem;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem 0;

    .icon {
      line-height: 0;
      font-size: 3rem;
      padding: 10px;
      border-radius: 50%;
      background-color: var(--bg-white);
      margin: 0 3rem 2rem;
      cursor: pointer;
      transition: all 0.3s;
      border: 2px solid transparent;
      &:hover {
        color: var(--color-primary);
        border: 2px solid var(--color-primary);
      }
    }
    // seapher
  }
}
